jsontoxml/target/classes/jsontoxml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/api" doc:name="HTTP Listener Configuration"/>
    <flow name="jsontoxmlFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getdata" allowedMethods="GET,POST" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="60c1dfd2-f467-49fc-a7a6-8eef17c8db1a">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	persons: {
		person: {
			name: payload.name,
			age: payload.age
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
